
<br>
<% if user_signed_in? %>
    <%=link_to 'Logout', destroy_user_session_path, method: :delete%>
<%end%>

<%if @users%>
    <h2>Add friends</h2>
   
    <%@users.each do |user|%>
        <%=user.first_name%>
        <%if user_signed_in? && current_user.friend_requests_as_requestor.where(receiver_id: user.id).empty? && current_user.friend_requests_as_receiver.where(requestor_id: user.id).empty?%>
            <%= form_with model: user, url: friendrequests_path, method: :post do |form| %>
                    <%=form.hidden_field  :receiver_id, value: user.id%>
                    <%= form.submit "Add freiend" %>
            <%end%>
        <%elsif user_signed_in? && !current_user.friend_requests_as_receiver.where(requestor_id: user.id, status: false).empty?%>
            <%= form_with model: user,  url: friendrequest_path(user), method: :patch do |form| %>
                   
                    <%= form.submit "Accept freind request" %>
            <%end%>
        <%else%>
            <%=link_to "View Profile"%>
        <%end%>
    <%end%>
<%else%>
    <h2>No one to send freind request</h2>
<%end%>
<br><br>
<%=link_to "Pending Friend Request", usersfriendrequests_path%>