
<div class="container">
    
    <%if @users%>
        <br>
        <h2 class="text-center">Add Friends</h2>


        <br><br>
        <div class="row">
            <div class="col-sm">
                <%=link_to "Pending Friend Request", usersfriendrequests_path, class: "btn btn-primary", style: "font-size:13px;"%><br>
            </div>
            <div class="col-sm">
                <%=link_to "Friend List", friendrequests_path,  class: "btn btn-primary", style: "font-size:13px;"%><br>
            </div>
            <% if user_signed_in?%>
                <div class="col-sm">
                    <%= link_to "My Profile", user_path(current_user),  class: "btn btn-primary", style: "font-size:13px;"%><br><br>
                </div>
                <div class="col-sm">
                    <%=link_to 'Logout', destroy_user_session_path, method: :delete%>
                </div>
            <%else%>
                <div class="col-sm">
                    <br><%= link_to "Login", new_user_session_path%>
                </div>
            <% end %>
        </div>

        <%= form_with url: "/search", method: :get do |form| %>
                    
            <%= form.text_field :query, placeholder:'Search Users..' %>
            <%= form.submit "Search" %>
        <% end %>
        <br>
        <div class="row hidden-md-up">
            <%@users.each do |user|%>
                
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">

                        <%if user.image.attached?%>
                            <%= image_tag(user.image, class: "card-img-top", style: "height:200px") %>
                        <%else%>
                            <%= image_tag('default_profile.jpeg', class: "card-img-top", style: "height:200px")%>
                        <%end%>
                        <div class="card-body">
                            <h5 class="card-title"> <%=link_to user.first_name.capitalize() + "  " + user.last_name.capitalize(), user_path(user)%></h5>
                            
                        
                            <%if user_signed_in? && current_user.friend_requests_as_requestor.where(receiver_id: user.id).empty? && current_user.friend_requests_as_receiver.where(requestor_id: user.id).empty?%>
                                <%= form_with model: user, url: friendrequests_path, method: :post do |form| %>
                                        <%=form.hidden_field  :receiver_id, value: user.id%>
                                        <%= form.submit "Add freiend" , class: "btn btn-primary"%>
                                <%end%>
                            <%elsif user_signed_in? && !current_user.friend_requests_as_receiver.where(requestor_id: user.id, status: false).empty?%>
                                <%= form_with model: user,  url: friendrequest_path(user), method: :patch do |form| %>
                                    
                                        <%= form.submit "Accept freind request",  class: "btn btn-primary" %>
                                <%end%>
                        
                            <%end%>
                        </div>
                    </div>
                </div>
            
            <%end%>
        </div>
    <%else%>
        <h2>No one to send freind request</h2>
    <%end%>
    

</div>