<div class="container">
    <br>
      <%=link_to "Go to home page", root_path, class: "btn btn-primary"%>
    <%if @users%>
        <h2 class="text-center">Pending Friend Requests</h2>
        
        <br>
            <div class="row hidden-md-up">
            <%@users.each do |user|%>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <%if user.image.attached?%>
                            <%= image_tag(user.image, class: "card-img-top", style: "height:200px") %>
                        <%else%>
                            <%= image_tag('default_profile.jpeg', class: "card-img-top", style: "height:200px")%>
                        <%end%>

                        <div class="card-body">
                            <h5 class="card-title"> <%=link_to user.first_name.capitalize() + "  " + user.last_name.capitalize(), user_path(user)%></h5>
                            
                            <%= form_with model: user, url: friendrequest_path(user), method: :patch do |form| %>
                                    <%= form.submit "Accept freind request", class: "btn btn-primary"%>
                            <%end%>

                            
                        </div>

                    </div>
                    
                </div>
            <%end%>
        </div>
    <%else%>
        <h2>No pending freind request</h2>
    <%end%>
    
</div>