<div class="container">
    <br>
    <%=link_to "Go to home page", root_path, class: "btn btn-primary"%>
    <% if @users.empty?%>
        <h2>No Result found</h2>

    <%else%>
        <h2 class="text-center">Showing Results For "<%=params['query']%>"</h2>
       
        <%= form_with url: "/search", method: :get do |form| %>
                    
            <%= form.text_field :query, placeholder:'Search Users..', value: params['query'] %>
            <%= form.submit "Search" %>
        <% end %>
        <br>
        <div class="row hidden-md-up">
            <%@users.each do |user|%>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">

                        <%if user.image.attached?%>
                            <%= image_tag(user.image, class: "card-img-top", style: "height:200px") %>
                        <%else%>
                            <%= image_tag('default_profile.jpeg', class: "card-img-top", style: "height:200px")%>
                        <%end%>

                        <div class="card-body">
                            <h5 class="card-title"> <%=link_to user.first_name.capitalize() + "  " + user.last_name.capitalize(), user_path(user)%></h5>
                            
                            <% if user_signed_in? && user.id != current_user.id%>
                                <%if current_user.friend_requests_as_requestor.where(receiver_id: user.id).empty? && current_user.friend_requests_as_receiver.where(requestor_id: user.id).empty?%>
                                    <%= form_with model: user, url: friendrequests_path, method: :post do |form| %>
                                            <%=form.hidden_field  :receiver_id, value: user.id%>
                                            <%= form.submit "Add freiend", class: "btn btn-primary" %>
                                    <%end%>
                                <%elsif !current_user.friend_requests_as_receiver.where(requestor_id: user.id, status: false).empty?%>
                                    <%= form_with model: user,  url: friendrequest_path(user), method: :patch do |form| %>
                                        
                                            <%= form.submit "Accept freind request", class: "btn btn-primary" %>
                                    <%end%>
                            
                                <%end%>

                            <%else%>
                                <%=link_to "View Your Profile", user_path(user), class: "btn btn-primary"%>
                            <%end%>

                            
                        </div>

                    </div>
                </div>
            <%end%>
        </div>
    <%end%>
</div>
