
<div class="container">
    <br>
     <%=link_to "Go to home page", root_path, class: "btn btn-primary"%>
    <h2 class="text-center">User profile</h2>
    <div class="card" style="width: 18rem;  margin: auto;">
         <%if @user.image.attached?%>
            <%= image_tag(@user.image, class: "card-img-top", style: "height:200px") %>
        <%else%>
            <%= image_tag('default_profile.jpeg', class: "card-img-top", style: "height:200px")%>
        <%end%>

        <div class="card-body" style="text-align:center;">
            <h5 class="card-title"> <%=@user.first_name.capitalize() + "  " + @user.last_name.capitalize()%></h5>
            <p class="card-text"> <%=@user.email%></p>

            <% if user_signed_in?  && @user.id == current_user.id%>
                <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "btn btn-primary"%>
            <% end %>

        </div>

    </div>
  


    <br>
    <h2>Friend List</h2>
    <div class="row hidden-md-up">
        <%@friends.each do |friend|%>
             <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                         <%if friend.image.attached?%>
                            <%= image_tag(friend.image, class: "card-img-top", style: "height:200px") %>
                        <%else%>
                            <%= image_tag('default_profile.jpeg', class: "card-img-top", style: "height:200px")%>
                        <%end%>

                        <div class="card-body">
                            <h5 class="card-title"> <%=link_to friend.first_name.capitalize() + "  " + friend.last_name.capitalize(), user_path(friend)%></h5>
                            
                            <% if user_signed_in? && friend.id != current_user.id%>
                                <%if current_user.friend_requests_as_requestor.where(receiver_id: friend.id).empty? && current_user.friend_requests_as_receiver.where(requestor_id: friend.id).empty?%>
                                    <%= form_with model: friend, url: friendrequests_path, method: :post do |form| %>
                                            <%=form.hidden_field  :receiver_id, value: friend.id%>
                                            <%= form.submit "Add freiend", class: "btn btn-primary" %>
                                    <%end%>
                                <%elsif !current_user.friend_requests_as_receiver.where(requestor_id: friend.id, status: false).empty?%>
                                    <%= form_with model: friend,  url: friendrequest_path(friend), method: :patch do |form| %>
                                            
                                            <%= form.submit "Accept freind request", class: "btn btn-primary" %>
                                    <%end%>
                            
                                <%end%>

                            <%elsif user_signed_in? && friend.id == current_user.id%>
                                 <%=link_to "View Your Profile", user_path(friend), class: "btn btn-primary"%>

                            
                            <%end%>
                        
                        </div>

                
                    </div>
                </div>
        <%end%>
    </div>
</div>